---
layout: default
---
<!doctype html>
<html>

<header class="post-header">
  <h1 class="post-title">{{ site.first_name }} {{ site.last_name }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
  <p class="post-description">{{ page.description }}</p>
</header>

<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title> {% if page.title %} {{ page.title }}  {% endif %}</title>
  <link href="/assets/css/main.css" type="text/css" rel="stylesheet">
  <link href="/media/{{ site.markdown_cv_style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="/media/{{ site.markdown_cv_style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
